

html, body {
	height: 100%;
	font-size:1rem;
}

.container.page {
	min-height: 100vh;
}

.main {
	border: 1px solid black;
}

.app {
	color: #191970;
}

.notes {
	color: #405d27;
	margin-left: 3rem;
}

.row.pen {
	background-color: black;
}

button {
	background-color: #92a8d1;
}

.header, .footer {
	background-image: url("postcard.jpg"); 
	/* background-image: linear-gradient(90deg, rgba(34, 152, 221, 1),rgba(211, 234, 248, 1)); */
}

.header>div {
	padding:.3rem 0;
}

.header .h-elm {
	font-size: 2rem;
	padding-left: .5rem;
}

.footer>div {
	padding: 0.3rem 0;

}

.nav {
	width: 100%;
	/* border: 1px solid black; */
	padding-right: 0;
	border-right: 1px solid black;

}



.nav-link {
	/* background-color: rgb(24, 46, 85); */
	/* border: 1px solid black; */
	width: auto;
	/* padding-left: 20px; */
}

